@charset 'UTF-8';

@import
  'abstracts/all';

// Custom styles go here
//@import url('https://fonts.googleapis.com/css?family=Work+Sans|Inconsolata');:root { --background:#0f0f11; --text:#bbbbbf; --titles:#ffffff; --border:#303a4e; --primary:#4500ec; --font-family-head:Work Sans; --font-family-body:Inconsolata; --content-bg:#222227; --header-bg:#ffffff; --header-text:#000000; --footer-bg:#ffffff; --footer-text:#bbbbbf; --grid-sm: 1; --grid-md: 2; --grid-lg: 3; --grid-xl: 3; }

@import
  'base/**';

@import
	'layout/**';

@import
	'components/**';

@import
	'pages/**';
